
.pokemon{
    margin-top: 0;
    display: inline-block;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.pokemon img{
    display: block;
    border: 1px solid antiquewhite;
    margin: 0 5px;
}
.pokemon .num img{
    border: 1px solid antiquewhite;
}
h1{
    margin-top: auto;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: 1px dashed lightcoral;
}
body{
    background-color: honeydew;
}